<!-- your html code here -->


<div class="container-fluid">
    <h2>
        Contacto
    </h2>
    <p>Nos encontrarás en Calle Maestro Coliflor, 2, CP 38009 – Tenerife.Tlf. 666343258 info@restaurantehermosillo.es
    <p>
        Horario: de 12.30 a 15:30 y de 20:00 a 23:30.
        Domingos de 12:30 a 15:30.
        Lunes cerrado.
    </p>
    <p>
        El horario podría cambiar en festivos y vísperas de festivo.
    </p>
    <p>
        Aquí puedes preguntarnos lo que quieras:
    </p>
    <form class="col-9 border bg-body-secondary ">
        <div class="row m-3">
            <div class="col-2 d-flex justify-content-end fw-bold">
                <label for="exampleInputEmail1" class="form-label">Tu E-mail</label>
            </div>
            <div class="col-10">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Tu email">
            </div>
        </div>
        <div class="row m-3">
            <div class="col-2 d-flex justify-content-end fw-bold">
                <label for="exampleFormControlTextarea1" class="form-label">Tu mensaje</label>
            </div>
            <div class="col-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                    placeholder="Por favor, escribe aquí tu mensaje..."></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-end m-3">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </div>

    </form>
</div>