<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Document</title>
</head>

<body>

    <footer>
        <div class="row mt-4">
            <div class="col-lg-12">
                <h4 class="my-4">
                    Opiniones
                </h4>
                <div class="my-4">
                    <img src="https://cdn.pixabay.com/photo/2021/08/27/18/50/water-6579313_1280.jpg"
                        class="img-fluid rounded-circle" alt="..." width="5%" height="5%">

                    <span>Manuel Mudo Rencoroso  Agosto 2025</span>
                </div>
                <div>
                    <div class="text-warning">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <span class="fw-bold">
                        Un valor seguro. Muy recomendable.
                    </span>
                    <p>
                        Acudimos un grupo de una Asociación de Jubilados. Nos desviamos de nuestra ruta pero
                        mereció muchísimo la pena. Comida casera, riquísima y abundante, trato impecable y familiar,
                        todo el servicio educado, atento y agradable.Concertamos un menú que resultó un éxito: empanada
                        casera, sopa de pescado riquísima, carne
                        asada y tarta de chocolate. Se nota que es hecho en casa y es de valorar. Sin duda, para
                        repetir.
                    </p>
                </div>
            </div>

            <div class="my-4">
                <img src="https://cdn.pixabay.com/photo/2016/11/29/03/35/girl-1867092_1280.jpg"
                    class="img-fluid rounded-circle" alt="..." width="5%" height="5%">

                <span>Argentina Pena Grande  Septiembre 2025</span>
            </div>
            <div>
                <div class="text-warning">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span class="fw-bold">
                    Te tratan muy bien y se come de maravilla.
                </span>
                <p>
                    Ya conocía este restaurante y sigue ofreciendo una comida de gran calidad.
                    Servicio muy atento.
                    Muy recomendable.
                    Imprescindible la empanada de vieiras y muy buena carne.
                </p>
            </div>
        </div>
<button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Ver más
  </button>

        <div class="row mt-4">
            <div class="col-lg-12">
                <p>Copyright &copy; Restaurante Hermosillo 2025</p>
            </div>
        </div>
        </div>
        </div>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"></script>

</html>