<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid bg-light p-4">
        <div class="row">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Costa_Adeje._Vista.jpg"
                        alt="Costa Adeje" class="rounded-circle img-fluid"
                        style="width: 300px;px; height:200px; object-fit:cover;"">
                </div>
                <div class=" col-8">
                    <h1><span class="text-muted">Hasta la costa de</span><strong> Tenerife</strong> </h1>
                    <p>Donde el mar y la brisa se mezclan con sabores auténticos. Vive una experiencia que combina lo
                        mejor de la cocina local con toques modernos, creada para disfrutar cada detalle, cada aroma y
                        cada instante frente al horizonte atlántico que inspira nuestros platos.</p>

                </div>

            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
        </div>
    </div>
</body>

</html>